# Credentials
APP_USERNAME=your_username
APP_PASSWORD=your_password
API_KEY=your_api_key
ROTA_HOSTNAME=https://rota-host.org

EMAIL_USERNAME=your_email@example.com
EMAIL_PASSWORD=your_email_password

# App config
VERSION=DEMO

# Email recipients (comma-separated)
ANNIVERSARY_REPORT_EMAILS=a@test.com
DBS_REPORT_EMAILS=b@test.com
NEW_VOL_REPORT_EMAILS=c@test.com
FULL_VOL_REPORT_EMAILS=d@test.com
TWO_WEEK_REPORT_EMAILS=e@test.com
TWO_MONTHLY_REPORT_EMAILS=f@test.com
EXPIRING_ROTA_REPORT_EMAILS=g@test.com
ERROR_REPORT_EMAILS=errors@test.com

# Lists
EXEMPT_LIST=Simon 635
BLT_LIST=Matty 595
NONLISTENING_VOLS=Jane 420